
  <!-- Alerts
  ================================================== -->
  <div class="bs-docs-section">
    <div class="page-header">
      <h1 id="alerts">Alerts</h1>
    </div>

    <h2 id="alerts-fixed">Fixed to top / bottom</h2>
    <p>Add <code>.alert-fixed-top</code> top stick the alert on top of your page. Use <code>.alert-fixed-bottom</code> for the bottom.</p>
    <div class="bs-example">
      <div class="alert alert-success alert-fixed-top">
        <strong>Success!</strong> Your action has been completed succefully.
      </div>
    </div>
{% highlight html %}
<div class="alert alert-success alert-fixed-top">
  <strong>Success!</strong> Your action has been completed succefully.
</div>
{% endhighlight %}

  </div>
