
/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Globals */
// Reset and dependencies
@normalize              : 'bootstrap';
@print                  : 'bootstrap';
@glyphicons             : 'bootstrap';
@utilities              : 'bootstrap';
@responsive-utilities   : 'bootstrap';
@colors                 : 'bootstrap';
// Font Awesome
@path                   : 'fontawesome';
@core                   : 'fontawesome';
@icons                  : 'fontawesome';
@bordered-pulled        : 'fontawesome';
@larger                 : 'fontawesome';
@fixed-width            : 'fontawesome';
@animated               : 'fontawesome';
@rotated-flipped        : 'fontawesome';
@stacked                : 'fontawesome';
// Fuel UX controls
@icons                  : 'fontawesome';
@utility                : 'fuelux';

/* Basics */
// Core CSS
@scaffolding            : 'bootstrap';
@type                   : 'bootstrap';
@code                   : 'bootstrap';
@grid                   : 'bootstrap';
@tables                 : 'bootstrap';
@forms                  : 'bootstrap';
@buttons                : 'bootstrap';
// Font Awesome
@list                   : 'fontawesome';
// Jasny-bootstrap Core CSS
@grid-container-smooth  : 'jasny';
// Fuel UX controls
@forms                  : 'bootstrap'; // forms.less contains code shared between form elements.
@checkbox-no-js         : 'fuelux'; // Checkbox styles that are not dependant upon custom javascript controls.
@radio-no-js            : 'fuelux';  // Radio styles that are not dependant upon custom javascript controls.


/* Components */
// Components
@component-animations   : 'bootstrap';
@dropdowns              : 'bootstrap';
@button-groups          : 'bootstrap';
@input-groups           : 'bootstrap';
@navs                   : 'bootstrap';
@navbar                 : 'bootstrap';
@breadcrumbs            : 'bootstrap';
@pagination             : 'bootstrap';
@pager                  : 'bootstrap';
@labels                 : 'bootstrap';
@badges                 : 'bootstrap';
@thumbnails             : 'bootstrap';
@alerts                 : 'bootstrap';
@progress-bars          : 'bootstrap';
@media                  : 'bootstrap';
@list-group             : 'bootstrap';
@panels                 : 'bootstrap';
@responsive-embed       : 'bootstrap';
@wells                  : 'bootstrap';
@close                  : 'bootstrap';
// Jasny-bootstrap Core CSS
@alerts-fixed           : 'jasny';
@button-labels          : 'jasny';
@nav-tab-alignment      : 'jasny';
@navmenu                : 'jasny';


/* Modules */
// Components w/ JavaScript
@modals                 : 'bootstrap';
@tooltip                : 'bootstrap';
@popovers               : 'bootstrap';
@carousel               : 'bootstrap';
// Jasny-bootstrap modules
@fileinput              : 'jasny';
@inputmask              : 'jasny';
@offcanvas              : 'jasny';
@rowlink                : 'jasny';
@transition             : 'jasny';
@wizard                 : 'jasny';
// Fuel UX controls
@checkbox               : 'fuelux'; // Checkbox styles that will be deprecated.
@radio                  : 'fuelux'; // Radio styles that will be deprecated.
@combobox               : 'fuelux';
@datepicker             : 'fuelux';
@infinite-scroll        : 'fuelux';
@intelligent-dropdown   : 'fuelux';
@loader                 : 'fuelux';
@pillbox                : 'fuelux';
@placard                : 'fuelux';
@repeater               : 'fuelux';
@repeater-list          : 'fuelux';
@repeater-thumbnail     : 'fuelux';
@spinbox                : 'fuelux';
@scheduler              : 'fuelux';
@search                 : 'fuelux';
@selectlist             : 'fuelux';
@picker                 : 'fuelux';
@tree                   : 'fuelux';
@wizard                 : 'fuelux';


/* Views */
@jumbotron              : 'bootstrap';


/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : '_style';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */