/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site 				: 'default';
@reset      		: 'default';

/* Global For Bootstrap */
@print      		: 'default';
@responsive-embed	: 'default';
@responsive-utilities: 'default';
@scaffolding		: 'default';
@utilities			: 'default';

/* Elements */
@alerts     		: 'default';
@badges       		: 'default';
@buttons     		: 'default';
@close      		: 'default';
@code      	    	: 'default';
@component-animations: 'default';
@glyphicons    		: 'default';
@labels     		: 'default';
@media       		: 'default';
@progress-bars      : 'default';

/* Collections */
@breadcrumbs 		: 'default';
@button-groups 		: 'default';
@forms		 		: 'default';
@grid       		: 'default';
@input-groups       : 'default';
@list-group       	: 'default';
@navbar     		: 'default';
@navs        		: 'default';
@pager      		: 'default';
@pagination    		: 'default';
@panel      		: 'default';
@tables      		: 'default';
@thumbnails    		: 'default';
@wells      		: 'default';

/* Modules */
@carousel   		: 'default';
@dropdowns   		: 'default';
@modals      		: 'default';
@popovers      		: 'default';
@tooltip    		: 'default';

/* Views */
@jumbotron   		: 'default';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : '_site';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */